div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -ms-box-flex: 2;
  -o-box-flex: 2;
  box-flex: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: all;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  -o-user-select: all;
  user-select: all;
  -webkit-appearance: button;
  -moz-appearance: button;
  -ms-appearance: button;
  -o-appearance: button;
  appearance: button;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  border-radius: 10%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 10% 20%;
  -moz-border-radius: 10% 20%;
  border-radius: 10% 20%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 2px 4px 6px 8px;
  -moz-border-radius: 2px 4px 6px 8px;
  border-radius: 2px 4px 6px 8px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: #000000 0px 2px 4px;
  -moz-box-shadow: #000000 0px 2px 4px;
  box-shadow: #000000 0px 2px 4px;
  -webkit-box-shadow: #000000 0px 2px 4px 8px;
  -moz-box-shadow: #000000 0px 2px 4px 8px;
  box-shadow: #000000 0px 2px 4px 8px;
  -webkit-box-shadow: #000000 0px 2px 4px 8px inset;
  -moz-box-shadow: #000000 0px 2px 4px 8px inset;
  box-shadow: #000000 0px 2px 4px 8px inset;
  text-shadow: rgba(132, 188, 222, 0.5) 0px 2px 4px;
  text-shadow: #000000 0px 2px 4px 8px;
  text-shadow: #000000 0px 2px 4px 8px inset;
  background-image: -webkit-linear-gradient(top, crimson 0%, black 100%);
  background-image: -moz-linear-gradient(top, crimson 0%, black 100%);
  background-image: -ms-linear-gradient(top, crimson 0%, black 100%);
  background-image: -o-linear-gradient(top, crimson 0%, black 100%);
  background-image: linear-gradient(top, crimson 0%, black 100%);
  background-image: -webkit-radial-gradient(50% 50%, circle, crimson 0%, black 100%);
  background-image: -moz-radial-gradient(50% 50%, circle, crimson 0%, black 100%);
  background-image: -ms-radial-gradient(50% 50%, circle, crimson 0%, black 100%);
  background-image: -o-radial-gradient(50% 50%, circle, crimson 0%, black 100%);
  background-image: radial-gradient(50% 50%, circle, crimson 0%, black 100%);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -ms-transform-style: flat;
  -o-transform-style: flat;
  transform-style: flat;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 0%;
  -moz-perspective-origin: 50% 0%;
  -ms-perspective-origin: 50% 0%;
  -o-perspective-origin: 50% 0%;
  perspective-origin: 50% 0%;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -ms-backface-visibility: visible;
  -o-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transform: matrix(0, 1, 2, 3, 4, 5);
  -moz-transform: matrix(0, 1, 2, 3, 4, 5);
  -ms-transform: matrix(0, 1, 2, 3, 4, 5);
  -o-transform: matrix(0, 1, 2, 3, 4, 5);
  transform: matrix(0, 1, 2, 3, 4, 5);
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transform: scale(0.5, 2);
  -moz-transform: scale(0.5, 2);
  -ms-transform: scale(0.5, 2);
  -o-transform: scale(0.5, 2);
  transform: scale(0.5, 2);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform: skew(45deg, 45deg);
  -moz-transform: skew(45deg, 45deg);
  -ms-transform: skew(45deg, 45deg);
  -o-transform: skew(45deg, 45deg);
  transform: skew(45deg, 45deg);
  -webkit-transition: all 1s cubic-bezier(1, 0, 0, 1) 500ms;
  -moz-transition: all 1s cubic-bezier(1, 0, 0, 1) 500ms;
  -ms-transition: all 1s cubic-bezier(1, 0, 0, 1) 500ms;
  -o-transition: all 1s cubic-bezier(1, 0, 0, 1) 500ms;
  transition: all 1s cubic-bezier(1, 0, 0, 1) 500ms;
  -webkit-animation: walk 1s cubic-bezier(1, 0, 0, 1) 500ms infinite reverse forwards;
  -moz-animation: walk 1s cubic-bezier(1, 0, 0, 1) 500ms infinite reverse forwards;
  -ms-animation: walk 1s cubic-bezier(1, 0, 0, 1) 500ms infinite reverse forwards;
  -o-animation: walk 1s cubic-bezier(1, 0, 0, 1) 500ms infinite reverse forwards;
  animation: walk 1s cubic-bezier(1, 0, 0, 1) 500ms infinite reverse forwards;
}
